*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none ;
    /* out-line :noen; */
    color:rgba(51,51,51,1);
}
li{
    list-style: none;
}
header{
    height: 80px;
    width: 1200px;
    margin: 0 auto;
}
header>img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 10px;
}
header>span{
    display: block;
    padding-top: 33px;
    /* margin-top:33px; */
    margin-left: 97px;
    font-size: 14px;
    line-height: 14px;
    color: #D0A147; 
}
header>span>a{
    color: #D0A147; 
}
header>span>a:hover{
    color: #D0A147; 
}
#middle{
    height: 600px;
    width: 1400px;
    margin: 20px auto;
}
#jindu{
    width: 1000px;
    height: 36px;
    margin-left: 268px;
    margin-top: 102px;
}
#jindu>span{
    float: left;
}
.jindu_1{
    display: block;
    width:36px;
    height:36px;
    background:rgba(255,217,145,1);
    border-radius:50%;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    color: #333333;
}
.jindu_2{
    background: #CCCCCC;
    color: #fff;
}
.xinxi_1{
    height:36px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(208,161,71,1);
    line-height:36px;
    margin-left: 21px;
}
.xinxi_2{
    color: #333333;
}
.fenge{
    width:200px;
    height:4px;
    background:rgba(204,204,204,1);
    border-radius:1px;
    margin-left: 19px;
    margin-top: 16px;
    margin-right: 21px;
}
.fenge_1{
    background:rgba(255,217,145,1);
}

#middle_div{
    margin-top: 100px;
}
#middle_div>div:nth-child(1){
    margin-left: 135px;
}
#middle_div>div:nth-child(2){
    margin-left: 104px;
}
.middle_from{
    margin-bottom: 24px;
}
.middle_from>span:nth-child(1){
    color: #F42C2E;
    font-size: 20px;
}
.middle_from>span:nth-child(2){
    color: #333333;
    font-size: 16px;
    line-height: 20px;
}
.middle_from>input{
    height: 38px;
    width: 280px;
    text-indent: 21px;
    border:2px solid rgba(238,238,238,1);
    margin-left: 20px;
}
#middle_bottom>a{
    margin-top: 97px;
    margin-left: 416px;
    font-size:18px;
    line-height: 18px;
    color:rgba(244,44,46,1);
    opacity:0.7;
}
.middle_button1{
    display: inline-block;
    width:360px;
    height:60px;
    background: #666666;
    color: #FEFEFE;
    border-radius:4px;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 76px;
    text-align: center;
    line-height: 60px;
}
.middle_button{
    background:rgba(20,16,14,1);
    color: #D0A147;
}














/* 底部 */
footer{
    height: 300px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
footer>span{
    float: left;
}
footer img{
    height: 140px;
    width: 140px;
}
.footer_p{
    margin-top:62px;
}
.footer_p>p{
    margin: 19px 31px 0 32px;
    font-size: 18px;
    color: #29282e;
    line-height: 18px;
}
.footer_span{
    margin-left: 100px;
    margin-top: 141px;
    font-size: 16px;
    color: #29282E;
}
.footer_p1{
    float: right;
}
.footer_div{
    position: absolute;
    left: 536px;
    bottom: 19px;
    font-size: 12px;
    color: #29282E;
}

